div{
	width: 200px;
	height: 200px;
}
.rojo{
	background-color: red;
	position: absolute;
	
	
}
.azul{
	background-color: blue;
    position: absolute;
	right: 200px;
	
}
.verde{
	background-color: green;
	position: absolute;
	bottom: 50px
}
.amarillo{
	background-color: yellow;
	position: absolute;
	right:  200px;
	bottom: 50px;
	

}