div{
	width: 200px;
	height: 200px;
}
.rojo{
	background-color: red;
	position: relative;
	position: static;
}
.azul{
	background-color: blue;

	left: 200px;
}
.verde{
	background-color: green;
	position: static;
}